@{
    ViewBag.Title = "Home Page";
}
<div class="image-loading-zone">
</div>
<!--PAGE ONE-->
<div class="row">
    <div class="panel title-page" data-section-name="title">
        <div class="spacer-small"></div>
        <div class="spacer-small"></div>
        <div class="spacer-small"></div>
        <div class="col-md-5 col-md-offset-1 col-xs-12">
            <div class="jumbotron mainTitle title-page-style">
                <h1>Michael Ancher</h1>
                <hr />
                <p>Works and History</p>
            </div>
        </div>
    </div>
</div>
<!--PAGE TWO-->
<div class="row introduction-page-style">
    <div class="panel introduction-page" data-section-name="introduction">
        <div class="spacer-small"></div>
        <div class="col-md-4  col-sm-12 col-md-push-4">
            <div class="spacer-small hidden-xs"></div>
            <div class="image-showcase mainTitle">
                <div class="image-showcase-content diamond">
                    <h1>Introduction</h1>
                    <p>
                        Michael Peter Ancher (9 June 1849 – 19 September 1927) was a Danish realist artist, and widely known for his paintings of fishermen, the lakes, and other scenes from the Danish fishing community in Skagen.
                    </p>
                </div>
            </div>

        </div>
        <div class="col-md-3 col-sm-12 col-md-pull-4">
            <div class="image-showcase">
                <div class="image-showcase-content">
                    <image src="../Content/Images/FullQuality/Selvportræt,_1902_-_Michael_Ancher.jpg"></image>
                    <h3>A self-portrait of Ancher.</h3>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-md-offset-2">
            <div class="spacer-small hidden-xs"></div>
            <div class="spacer-small hidden-xs"></div>
            <div class="image-showcase">
                <div class="image-showcase-content">
                    <image src="../Content/Images/FullQuality/skagen-michael-of-anna.jpg"></image>
                    <h3>Ancher's Home in Skagen</h3>
                </div>
            </div>
        </div>

    </div>
</div>
<!--PAGE THREE-->
<div class="row bio-page-style">
    <div class="panel bio-page" data-section-name="bio">
        <div class="spacer-small"></div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12 hidden-md">
                <div class="bio-content-header">
                    <h1>
                        Biography
                    </h1>
                </div>
            </div>
        </div>
        <div class="spacer-small hidden-sm"></div>
        <div class="row">
            <div class="col-md-4 col-sm-12 ">
                <div class="bio-content">
                    <p>
                        Michael Peter Ancher was born at Rutsker on the island of Bornholm.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <div class="bio-content">
                    <p>In 1871, he spent a short period at C.V Nielsen's art school as a preliminary to joining the Royal Danish Academy of Art in Copenhagen later in the year.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <div class="bio-content">
                    <p>Michael Ancher was influenced by his traditional training at the Royal Danish Academy of Fine Arts in the 1870s which imposed strict rules for composition. His marriage to Anna Ancher did, however, introduce him to the naturalistic concept of undecorated reproduction of reality and its colours</p>
                </div>
            </div>
        </div>
        <div class="spacer-small hidden-sm hidden-xs"></div>
        <div class="row">
            <div class="col-md-4 col-sm-12 ">
                <div class="bio-content">
                    <p>Among other places, the works of Anna and Michael Ancher can be seen at the Skagens Museum, Statens Museum for Kunst, the Frederiksborg Museum, The Hirschsprung Collection, and Ribe Art Museum.</p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <div class="bio-content">
                    <p>Michael Ancher received the Eckersberg Medal in 1889 and in 1894 the Order of the Dannebrog. Originally many of Ancher's paintings hung in the dining room of the Brøndums Hotel. </p>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 ">
                <div class="bio-content">
                    <p>Anna and Michael Ancher were featured on the front of the previous series DKK1000 bill.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--PAGE FOUR-->
<div class="row gallery-page-style">
    <div class="panel gallery-page" data-section-name="gallery">
        <div class="anchor">
            <div id="gallery-item-highlight-background" class="gallery-item-highlight-background">
                <div class="spacer-small"></div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 gallery-item-highlight-content">
                        <img id="gallery-item-highlight">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 gallery-item-highlight-content">
                        <p id="gallery-title" class="gallery-title"></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 col-sm-12 gallery-item">
        <button id="g1" name="A Stroll on the Beach">I</button>
        </div>
    <div class="spacer-gallery"></div>
    <div class="col-md-2 col-sm-12 gallery-item">
        <button id="g2" name="Hip, Hip, Hoorah! Artist Festival at Skagen">M</button>
    </div>
    <div class="spacer-gallery"></div>
    <div class="col-md-2 col-sm-12 gallery-item">
        <button id="g3" name="Repairing the Anchor a Summer's Day at Skagen Beach, Denmark">A</button>
    </div>
    <div class="spacer-gallery"></div>
    <div class="col-md-2 col-sm-12 gallery-item">
        <button id="g4" name="Figures in a landscape. Blind Kristian and Tine among the dunes">G</button>
    </div>
    <div class="spacer-gallery"></div>
    <div class="col-md-2 col-sm-12 gallery-item">
        <button id="g5" name="Art Judges">E</button>
    </div>
    <div class="spacer-gallery"></div>
    <div class="col-md-2 col-sm-12 gallery-item">
        <button id="g6" name="Portrait of My Wife, the Painter Anna Ancher">S</button>
    </div>
    </div>
</div>

@section scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.js" integrity="sha512-5p2SpY28oZ+4MMGYRRhpzaHRCALXVO1ib2ZwPkmE4cs54eQ9NiSAMmZYRX21wqBKNfdzEODGejmC6g728afk6Q==" crossorigin="anonymous"></script>
    <script>
        var fragment = window.location.href.split("#")[1];
        if (fragment == undefined) {
            fragment = "title";
        }
        var previous = fragment + "-page-style";
        var initial = true;
        console.log(previous);
        $(".page-dependent").addClass(previous);
        $(function () {
            $.scrollify({
                section: ".panel",
                before: function () {
                    //Get the current panel's class to determin
                    var targetClass = $.scrollify.current()[0].className;
                    targetClass = targetClass.split(" ")[1];
                    targetClass = targetClass.split("-")[0];
                    targetClass = targetClass + "-page-style";

                    $(".page-dependent").removeClass(previous);
                    previous = targetClass;
                    $(".page-dependent").addClass(targetClass);
                }
            });
        });

        //Pull up a gallery image
        $(".gallery-item").click(function (event) {
            var newBackground = $(event.target).css('background-image').replace(/^url\(['"](.+)['"]\)/, '$1');
            $("#gallery-item-highlight").attr("src", newBackground);
            $("#gallery-item-highlight-background").removeClass("gallery-item-highlight-background");
            $("#gallery-item-highlight-background").addClass("gallery-item-highlight-background-visible");
            $("#gallery-title").html("<h1>" + $(event.target).attr("name") + "</h1>");
            console.log($("#gallery-item-highlight"));

        });

        //Put away a gallery image
        $("#gallery-item-highlight-background").click(function () {
            $("#gallery-item-highlight-background").removeClass("gallery-item-highlight-background-visible");
            $("#gallery-item-highlight-background").addClass("gallery-item-highlight-background");
        });

        //Link Event Listeners
        $(".page-dependent").click(function (e) {
            var moveTo = $(this).attr('href');
            $.scrollify("move", moveTo);
        });

    </script>
}